/boost
/boostx
/boostd
/boostd-data
/migrate-lid
/devnet
/booster-http
/booster-bitswap
/docgen-md
/docgen-openrpc
/migrate-curio
extern/filecoin-ffi/rust/target
extern/boostd-data/boostd-data
**/*.a
**/*.pc
/**/*/.DS_STORE
.DS_STORE
build/.*
.idea
ux/index.js
ux/node_modules
ux/package-lock.json
filestore/_test/a/b/c/d/existing.txt
dev.gen
localnet.json
lotus-daemon.log
lotus-miner.log
