#banner {
    display: none;
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    text-align: center;
}

#banner .message {
    width: 40%;
    display: inline-block;
    padding: 1em;
    border-radius: 0.2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0.2em 1em 0px;
    color: #1D8348;
    border: 1px solid #1D8348;
    background-color: #fff;
}

#banner.error .message {
    color: crimson;
    border-color: crimson;
}

#banner.showing {
    display: block;
}