.cumulative-bar-chart {
    padding-right: 5em;
    position: relative;
}

.cumulative-bar-chart.compact {
    padding-right: 0;
}

.cumulative-bar-chart .total {
    font-size: 0.8em;
    width: 5em;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

.cumulative-bar-chart.compact .total {
    display: none;
}

.cumulative-bar-chart .bars {
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.cumulative-bar-chart.compact .bars {
    line-height: 0.3em;
    margin-bottom: 0.5em;
}

.cumulative-bar-chart .bars .bar {
    display: inline-block;
    height: 1em;
}

.cumulative-bar-chart.compact .bars .bar {
    height: 0.25em;
}

.cumulative-bar-chart .bars .bar:first-child {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.cumulative-bar-chart .bars .bar:last-child {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.cumulative-bar-chart .bars .bar .bar-inner {
    height: 100%;
    border-right: 1px solid #fff;
}
.cumulative-bar-chart .bars .bar:last-child .bar-inner {
    display: none;
}

.cumulative-bar-labels .label {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 0.8em;
}

.cumulative-bar-labels .bar-color {
    width: 0.8em;
    height: 0.8em;
    border-radius: 0.8em;
    display: inline-block;
}

.cumulative-bar-labels .text {
    display: inline-block;
    padding-left: 0.5em;
}

.cumulative-bar-labels .amount {
    padding: 0.25em 0 0 1.4em;
}

