.dmicon {
    display: inline-block;
    vertical-align: text-top;
    align-content: center;
    width: 1em;
    height: 1em;
    margin-top: 0.3em;
    padding-right: 0.5em;
    margin-left: 0.3em;
}
