.deals table {
    font-size: 1em;
    width: 100%;
}

.deals td, .deals th {
    padding: 0.5em 1em;
    font-weight: normal;
}

.deals th {
    white-space: nowrap;
    text-align: left;
    opacity: 0.6;
}

.deals td.start, .deals th.start {
    cursor: pointer;
    white-space: nowrap;
}

.deals td.size {
    width: 5em;
    white-space: nowrap;
}

.deals td.deal-id {
    cursor: pointer;
    color: #465298;
    width: 7em;
}

.deals td.client {
    width: 6em;
}
.deals td.client.contract {
    background: url("./bootstrap-icons/icons/file-earmark-text.svg");
    padding-left: 2.25em;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 1em center;
}

.deals td.message {
    width: 100%;
}

.deals tr.error {
    opacity: 0.8;
}

.deals tr.show-actions td.message .message-content {
    display: flex;
    align-items: center;
}

.deals tr.show-actions td.message .message-content .message-text {
    flex-grow: 1;
}

.deals tr.show-actions td.message .message-content .message-text .transfer-rate {
    padding-left: 1em;
    color: #999999;
}

.deals tr.show-actions td.message .buttons {
    display: inline-block;
    min-width: 6em;
    text-align: right;
}

.deals tr.show-actions td.message .buttons .button {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    background-size: cover;
}

.deals tr.show-actions td.message .buttons .button.cancel {
    background-image: url("./icons/x-white.svg");
}
.deals tr.show-actions td.message .buttons .button.fail {
    background-image: url("./icons/x-white.svg");
}
.deals tr.show-actions td.message .buttons .button.retry {
    background-image: url("./icons/play-white.svg");
}

.deals .legacy-storage-deals-link {
    position: absolute;
    left: 2em;
    top: 3em;
}

.deals .search {
    position: absolute;
    right: 8em;
    top: 2em;
}

.deals .search input {
    background-image: url("./bootstrap-icons/icons/search.svg");
    background-repeat: no-repeat;
    background-position: left 0.5em center;
    padding-left: 2em;
    padding-right: 3em;
}

.deals .search .clear-text {
    position: absolute;
    right: 2.2em;
    top: 1.1em;
    cursor: pointer;
}

.search-toggle {
    color: black;
    position: absolute;
    right: 1em;
    top: 1.1em;
}

.toggle {
    cursor: pointer;
}

.search-toggle.active .toggle::before {
    content: " ";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -0.1em;
    background: #00000033;
    box-shadow: 0 0 5px 1px #b3b3b3;
    z-index: 1;
}

.search-filters {
    background: white;
    border: 1px solid #cccccc;
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px 2px #888888;
    padding: 0em 1em 2em;
    position: absolute;
    right: -0.5em;
    top: 1.6em;
    z-index: 100;
}

.search-filters .radio-group {
    display: block;
    white-space: nowrap;
}

.search-filters h3 {
    margin-left: 0.5em;
}

.search-filters hr {
    border: 1px solid #DDD;
    margin: 1em 0em;
}