.deal-detail {
    padding-top: 1em;
    margin: auto;
}

.deal-detail .title {
    margin:  1em auto;
    text-align: center;
    font-size: 1.25em;
    color: #a61e4d;
}

.deal-detail table {
    font-size: 1em;
}

.deal-detail table.deal-fields {
    margin-bottom: 1em;
}

.deal-detail table.deal-fields tr td:first-child {
    width: 8em;
}
.deal-detail table.deal-fields tr td:last-child {
    line-break: anywhere;
}

.deal-detail table.deal-fields th {
    text-align: left;
}

.deal-detail td, .deal-detail th {
    padding: 0.5em 1em;
}

.since-last, .aux {
    color:  #999;
}

.deal-detail .buttons {
    display: inline-block;
    float: right;
}

.deal-detail h3 {
    margin-top: 2em;
}

.deal-detail .deal-logs .at {
    white-space: nowrap;
}

.deal-detail .deal-logs td {
    vertical-align: top;
}

.deal-detail .deal-logs .param {
    color: #777777;
    line-height: 1.5em;
}