.deals table {
    font-size: 1em;
    width: 100%;
}

.deals td, .deals th {
    padding: 0.5em 1em;
    font-weight: normal;
}

.deals th {
    white-space: nowrap;
    text-align: left;
    opacity: 0.6;
}

.deals td.start, .deals th.start {
    cursor: pointer;
    white-space: nowrap;
}

.deals td.size {
    width: 5em;
    white-space: nowrap;
}

.deals td.deal-id {
    cursor: pointer;
    color: #465298;
    width: 7em;
}

.deals td.client {
    width: 6em;
}

.deals .pagination {
    text-align: center;
}

.deals .pagination .controls {
    margin-top: 1em;
    display: inline-block;
}

.deals .pagination .controls > div {
    display: inline-block;
    padding: 0 0.5em;
}

.deals .pagination .first, .deals .pagination .left, .deals .pagination .right {
    color: #465298;
    cursor: pointer;
}

.deals .pagination .total {
    color: #999;
}

.deals .pagination .per-page select {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    color: #999;
}
