.publish-actions p {
    display: inline-block;
    padding-left: 1em
}

.publish-actions .buttons {
    display: inline-block;
    position: relative;
}

.publish-actions .buttons .button {
    margin-left: 2em;
    display: inline-block;
}

.deal-publish th {
    text-align: left;
    color: inherit;
    font-weight: normal;
    font-size: inherit;
}

.deal-publish td, .deal-publish th {
    padding: 0.5em 1em;
}

.deal-publish-deals {
    margin-top: 2em;
}

.no-deals {
    margin-top: 2em
}
