.deal-detail {
    padding-top: 1em;
    margin: auto;
}

.deal-detail .title {
    margin:  1em auto;
    text-align: center;
    font-size: 1.25em;
    color: #a61e4d;
}

.deal-detail .title .copy, .deal-detail .title .copy-all {
    display: inline-block;
    vertical-align: text-top;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.5em;
    margin-top: 0.1em;
    cursor: pointer;
    background: url("./bootstrap-icons/icons/clipboard.svg");
    background-size: cover;
}

.deal-detail .title .copy-all {
    background: url("./bootstrap-icons/icons/clipboard-plus.svg");
}

.deal-detail .title .copy.copied, .deal-detail .title .copy-all.copied {
    animation: rotate 0.5s infinite;
}

@keyframes rotate {
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}

.deal-detail .popup {
    display: none;
    position: absolute;
    font-size: 1em;
    top: -3em;
    text-align: center;
    width: 100%;
}
.deal-detail .popup.showing {
    display: inline-block;
}

.deal-detail .popup .message {
    display: inline-block;
    color: #777777;
    border: 1px solid #aaa;
    border-radius: 0.2em;
    padding: 0.5em;
    font-size: 0.8em;
    margin-top: 0.8em;
}

.deal-detail table {
    font-size: 1em;
}

.deal-detail table.deal-fields {
    margin-bottom: 1em;
}

.deal-detail table.deal-fields tr td:first-child {
    width: 8em;
}
.deal-detail table.deal-fields tr td:last-child {
    line-break: anywhere;
}

.deal-detail table.deal-fields th {
    text-align: left;
}

.deal-detail table.deal-fields .js-obj {
    color: #777777;
}

.deal-detail td, .deal-detail th {
    padding: 0.5em 1em;
}

.deal-detail .since-last, .aux {
    color: #999;
}

.deal-detail .contract {
    background: url("./bootstrap-icons/icons/file-earmark-text.svg");
    padding-left: 1.5em;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left center;
}

.deal-detail .buttons {
    display: inline-block;
    float: right;
}

.deal-detail .buttons .button {
    display: inline-block;
}

.deal-detail h3 {
    margin-top: 2em;
}

.deal-detail .deal-logs .deal-log.since-s td {
    padding-top: 2em;
}

.deal-detail .deal-logs .deal-log.since-multi-s td {
    padding-top: 4em;
}

.deal-detail .deal-logs .at {
    white-space: nowrap;
}

.deal-detail .deal-logs td {
    vertical-align: top;
}

.deal-detail .deal-logs .subsystem {
    color: #2c7be5;
}

.deal-detail .copy-buffer {
    display: none;
}

.deal-status-info .info .content {
    width: 42em;
    left: 0;
}
