.epoch {
    color: $ltgrey;
    text-align: right;
    margin-top: 0.5em;
    margin-right: 1em;
}

.epoch .info .content {
    left: auto;
    right: 1em;
    top: 2em;
    width: 10em;
    text-align: center;
    margin-right: 1em;
    margin-top: 0.5em;
}