.page-content .epoch {
    position: absolute;
    right: 1em;
    top: 1em;
    color: #777777;
    text-align: right;
}

.page-content .epoch .info .content {
    left: auto;
    right: 1em;
    top: 2em;
    width: auto;
    text-align: center;
}