#funds .chart {
    padding: 1em;
}

#funds .bar-limit {
    min-width: 6em;
}

#funds .chart .amounts {
    width: 50%;
    display: inline-block;
}

#funds .chart .wallet-address {
    padding: 0.5em 0 1em 0;
    font-size: 0.8em;
}

#funds .chart .escrow {
    margin-top: 1em;
}

#funds .chart .escrow .title {
    padding: 0.5em 0;
}

#funds .chart .pubmsg-wallet {
    margin-top: 2em;
}

#funds .chart .pubmsg-wallet .bar-content {
    height: 4em;
}


#funds .collateral {
    display: inline-block;
    vertical-align: top;
}

#funds .collateral td {
    padding: 0.5em 1em;
    font-weight: normal;
}

.top-up {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.top-up .button {
    display: inline-block;
}

.top-up-form .button.cancel {
    background-color: #999;
}

.funds-logs {
    margin-top: 2em;
}

.funds-logs td, .funds-logs th {
    padding: 0.5em 1em;
}

.tagged {
    background-color: #6b5eae;
}

.available {
    background-color: rgb(44, 123, 229);
}

.locked, .balance {
    background-color: rgb(166, 197, 247);
}
