@font-face {
  font-family: "Virgil";
  src: local('Virgil'), url("./fonts/Virgil.woff2");
  font-display: swap;
}

.button {
  color: #fff;
  background-color: #3399ff;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
  cursor: pointer;
  text-align: center;
}

input {
  font-size: 1em;
  border: 1px solid #999;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
}

body.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.modal .content {
  position: relative;
  width: 800px;
  margin: 2em auto;
}

.modal .close {
  position: absolute;
  top: -0.5em;
  right: -2em;
  font-size: 2em;
  cursor: pointer;
}

#content {
  font-family: Virgil;
  font-size: 1.25em;
  padding-bottom: 3em;
}
#content table {
  font-size: 1em;
}

.menu {
  width: 10em;
  padding: 1em;
  vertical-align: top;
  white-space: nowrap;
}

.menu .menu-item {
  color: #a61e4d;
  margin: 0.5em;
  cursor: pointer;
}

.page-content {
  width: 90%;
}

.page-title {
  margin:  1em auto;
  text-align: center;
  font-size: 1.5em;
  color: #a61e4d;
}

.deals table {
  font-size: 1em;
  width: 100%;
}

.deals td, .deals th {
  padding: 0.5em 1em;
  font-weight: normal;
}

.deals th {
  white-space: nowrap;
}

.deals td.piece-size {
  white-space: nowrap;
}

.deals td.deal-id {
  cursor: pointer;
  color: #465298;
}

.deals .pagination {
  position: relative;
}

.deals .pagination .controls {
  position: absolute;
  margin-top: 1em;
  left: 50%;
  transform: translate(-50%, 0);
}

.deals .pagination .left, .deals .pagination .right, .deals .pagination .page, .deals .pagination .total {
  display: inline-block;
  padding: 0 0.5em;
}

.deals .pagination .left, .deals .pagination .right {
  color: #465298;
  cursor: pointer;
}

.deals .pagination .total {
  color: #999;
}

#deal-detail {
  padding-top: 1em;
  margin: auto;
}

#deal-detail .title {
  margin:  1em auto;
  text-align: center;
  font-size: 1.25em;
  color: #a61e4d;
}

#deal-detail table {
  font-size: 1em;
}

#deal-detail table.deal-fields {
  display: inline-block;
  width: auto;
  margin-bottom: 1em;
}

#deal-detail td {
  padding: 0.5em 1em;
}

#deal-detail td.since-last {
  color:  #999;
}

#deal-detail .buttons {
  display: inline-block;
  float: right;
}

.bar-chart > table {
  margin-top: 2.5em;
}

.bar-chart .field {
  height: 200px;
  width: 5em;
}

.bar-chart .field .size {
  font-size: 0.8em;
  position: absolute;
  margin-top: -1.5em;
}

.bar-chart .field .size-text {
  position: absolute;
  bottom: -1em;
  width: 5em;
}

.bar-chart .field .bar {
  width: 3em;
  border: 1px solid black;
  margin: auto;
}

.bar-chart .field .bar .used {
  background-image: repeating-linear-gradient(
          135deg,
          #fff,
          #fff 5px,
          #465298 5px,
          #465298 6px);
  border-top: 1px solid #465298;
  border-bottom: 1px solid #000;
}

.bar-chart .label {
  font-size: 0.8em;
  text-align: center;
  padding-top: 1em;
  vertical-align: top;
}

#funds .bar-chart {
  display: inline-block;
  vertical-align: top;
}

#funds .collateral {
  display: inline-block;
  vertical-align: top;
}

#funds .collateral td {
  padding: 0.5em 1em;
  font-weight: normal;
}

.top-up-form .button {
  display: inline-block;
}

.top-up-form .button.cancel {
  background-color: #999;
}

.funds-logs {
  margin-top: 2em;
}

.funds-logs td, .funds-logs th {
  padding: 0.5em 1em;
}

.funds-logs th {
  color: #a61e4d
}

#deal-publish h3 {
  margin-top: 2em;
  text-align: center;
  color: #a61e4d;
}

#deal-publish p {
  padding-left: 1em
}

#deal-publish .buttons {
  position: relative;
}

#deal-publish .buttons .button {
  position: absolute;
  left: 30em;
  top: -1em;
}

.deal-publish td {
  padding: 0.5em 1em;
}

.storage-chart {
  position: relative;
  padding: 1em;
}

.storage-chart .total-size {
  position: absolute;
  right: -1em;
  top: -0.6em;
  font-size: 0.8em;
}

.storage-chart .bars {
  border: 1px solid black;
  margin-bottom: 5em;
  height: 4em;
}

.storage-chart .bars > div {
  position: relative;
  display: inline-block;
  height: 4em;
  border-right: 1px solid black;
}

.storage-chart .bars > div:last-child {
  border-right: none;
}

.storage-chart .bars .completed {
  background-image: repeating-linear-gradient(
          135deg,
          #fff,
          #fff 5px,
          #e64980 5px,
          #e64980 6px);
}

.storage-chart .bars .transferring {
  background-image: repeating-linear-gradient(
          135deg,
          #fff,
          #fff 5px,
          #465298 5px,
          #465298 6px);
}

.storage-chart .bars .label {
  padding: 1em;
  position: absolute;
  top: 4em;
  width: 5em;
  font-size: 0.9em;
}

.storage-fields {
  margin-top: 1em
}

.storage-fields td {
  padding: 0.5em 1em;
  font-weight: normal;
}
