body {
  background-color: #f9fbfd;
  color: #12263f;
  margin: 0;
  font-family: "Cerebri Sans",sans-serif
}

table {
  padding: 0;
  border-collapse: collapse;
}

table th {
  color: #3b506c;
  font-weight: normal;
}

a {
  color: #465298;
  text-decoration: none;
}

.button {
  color: #fff;
  background-color: #3399ff;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
  cursor: pointer;
  text-align: center;
}

input {
  font-size: 1em;
  border: 1px solid #999;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
}

body.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  cursor: auto;
}

.modal .content {
  position: relative;
  width: 800px;
  margin: 2em auto;
}

.modal .close {
  position: absolute;
  top: -0.25em;
  right: -2em;
  font-size: 2em;
  cursor: pointer;
}

.modal .close .icon {
  width: 0.8em;
}

#content {
  padding-bottom: 3em;
}

#content table {
  font-size: 1em;
}

.content-table {
  width: 100%;
}

.main-content {
  vertical-align: top;
  width: 100%;
}

.page-content {
  background-color: #fff;
  border: 1px solid #edf2f9;
  box-shadow: 0 .75rem 1.5rem rgba(18,38,63,.1);
  border-radius: 0.25em;
  margin: 1em;
  padding: 1em;
}

.page-title {
  margin:  1em auto;
  text-align: center;
  font-size: 1.5em;
  color: #a61e4d;
}

h3 {
  margin: 1em 0.85em;
  text-align: left;
  color: #a61e4d;
  font-weight: normal;
  font-size: 1.25em;
}

.hidden {
  display: none;
}