.info {
    display: inline-block;
    position: relative;
}

.info .target {
    display: inline-block;
    cursor: pointer;
    font-size: 1em;
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-left: 0.5em;
    background: url("./bootstrap-icons/icons/info-circle.svg");
}

.info.warning .target {
    background: url("./bootstrap-icons/icons/exclamation-circle.svg");
}

.info .content {
    display: none;
    z-index: 1;
    font-size: 0.8em;
    position: absolute;
    top: 0;
    left: 2.5em;
    width: 20em;
    background: #fff;
    border: 1px solid #465298;
    box-shadow: 0 .75rem 1.5rem rgba(18,38,63,.1);
    color: #465298;
    border-radius: 0.2em;
    padding: 0.75em;
}

.info .content.show {
    display: inline-block;
}

.info .content.contain-right {
    left: auto;
    right: 1.75em;
}

.info .content a {
    text-decoration: underline;
}

.info .info-item {
    padding: 0.5em 0.5em 1em 0.5em;
}

.info .info-item .info-title {
    padding-bottom: 0.5em;
    font-size: 1.125em;
}
