.info {
    display: inline-block;
    position: relative;
}

.info .target {
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    margin-left: 0.5em;
    margin-top: 0.2em;
    background: url("./bootstrap-icons/icons/info-circle.svg");
}

.info.warning .target {
    background: url("./bootstrap-icons/icons/exclamation-circle.svg");
}

.info .content {
    z-index: 1;
    font-size: 0.8em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 20em;
    background: #fff;
    border: 1px solid $bluegrey;
    box-shadow: 0 .75rem 1.5rem rgba(18,38,63,.1);
    color: $bluegrey;
    border-radius: 0.2em;
    padding: 0.75em;
}
