.retrieval-miner-addrs {
    margin: 0 0 2em 1em;
}

.retrieval-miner-addrs h3 {
    margin-left: 0;
}

.retrieval-miner-addrs .title {
    color: #a61e4d;
    font-size: 1.25em;
    padding: 0 0 0.5em 0;
}

.retrieval-miner-addrs .miner-addr {
    background: url("./bootstrap-icons/icons/database-down.svg");
    background-repeat: no-repeat;
    padding-left: 1.5em;
    margin-right: 1em;
    display: inline-block;
}

.retrieval-logs {
    position: relative;
}

.retrieval-logs table {
    font-size: 1em;
    width: 100%;
}

.retrieval-logs td, .retrieval-logs th {
    padding: 0.5em 1em;
    font-weight: normal;
}

.retrieval-logs th {
    white-space: nowrap;
    text-align: left;
    opacity: 0.6;
}

.retrieval-logs td.start, .retrieval-logs th.start {
    cursor: pointer;
    white-space: nowrap;
}

.retrieval-logs td.sent {
    width: 5em;
    white-space: nowrap;
}

.retrieval-logs td.peer-id {
    min-width: 8em;
}

.retrieval-logs td.transfer-id {
    min-width: 7em;
}

.retrieval-logs td.message {
    width: 100%;
}

.retrieval-logs .popup {
    display: none;
    position: absolute;
    font-size: 1em;
    top: -4em;
    text-align: center;
    width: 100%;
}
.retrieval-logs .popup.showing {
    display: inline-block;
}

.retrieval-logs .popup .message {
    display: inline-block;
    color: #777777;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0.2em;
    padding: 0.5em;
    font-size: 0.8em;
    margin-top: 0.8em;
}

.retrieval-logs .peer-id > *, .retrieval-logs .deal-id > *, .retrieval-logs .payload-cid > * {
    display: inline-block;
}

.retrieval-logs .copy {
    display: inline-block;
    vertical-align: text-top;
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.5em;
    margin-top: 0.1em;
    cursor: pointer;
    background: url("./bootstrap-icons/icons/clipboard.svg");
    background-size: cover;
}

.retrieval-logs .copy.copied {
    animation: rotate 0.5s infinite;
}

@keyframes rotate {
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}
