.sealing-pipeline .title {
    font-size: 1.2em;
    padding: 1em;
    margin-top: 1em;
    color: #a61e4d;
}

.sealing-pipeline .wait-deals .no-deals {
    padding: 1em;
}

.sealing-pipeline .cumulative-bar-chart {
    padding-left: 1em;
}

.filled {
    background-color: rgb(44, 123, 229);
}

.free {
    background-color: rgb(210, 221, 236);
}

table.sealing td.sealing-type {
    vertical-align: top;
    padding: 0;
}

.sealing-pipeline table {
    font-size: 1em;
    width: 100%;
}

.sealing-pipeline td, .sealing-pipeline th {
    text-align: left;
    padding: 0.5em 1em;
    font-weight: normal;
}

.sealing-pipeline td.deal-id {
    width: 6em;
}

.sealing-pipeline td.deal-id .short-deal-id {
    cursor: pointer;
    color: #465298;
}

.sealing-pipeline td.color {
    width: 1em;
    padding-right: 0;
}

.sealing-pipeline td.color > div {
    width: 0.8em;
    height: 0.8em;
    border-radius: 0.8em;
}

.sealing-pipeline td.state {
    padding-left: 0.25em;
    width: 8em;
}

.sealing-pipeline td.count.zero {
    color: #999;
}

.sealing-pipeline th.start, .sealing-pipeline td.start {
    width: 5em;
}

.sealing-pipeline th.worker-id, .sealing-pipeline td.worker-id {
    width: 3em;
}

.sealing-pipeline th.stage, .sealing-pipeline td.stage {
    width: 4em;
}

.sealing-pipeline th.sector, .sealing-pipeline td.sector {
    width: 3em;
}

.no-workers {
    padding: 0 0 2em 1.25em;
}

.sealing-pipeline .AddPiece {
    background-color: #2c7be5;
}

.sealing-pipeline .Packing {
    background-color: #6b5eae
}

.sealing-pipeline .GetTicket {
    background-color: #6b5eae
}

.sealing-pipeline .PreCommit1 {
    background-color: #e63757;
}

.sealing-pipeline .PreCommit2 {
    background-color: #fd7e14;
}

.sealing-pipeline .PreCommitting {
    background-color: #f6c343;
}

.sealing-pipeline .PreCommitWait {
    background-color: #f6c343;
}

.sealing-pipeline .SubmitPreCommitBatch {
    background-color: rgb(210, 221, 236);
}

.sealing-pipeline .PreCommitBatchWait {
    background-color: rgb(210, 221, 236);
}

.sealing-pipeline .WaitSeed {
    background-color: rgb(210, 221, 236);
}

.sealing-pipeline .Committing {
    background-color: #00d97e;
}

.sealing-pipeline .CommitFinalize {
    background-color: rgb(210, 221, 236);
}

.sealing-pipeline .CommitFinalizeFailed {
    background-color: rgb(210, 221, 236);
}

.sealing-pipeline .SubmitCommit {
    background-color: rgb(210, 221, 236);
}

.sealing-pipeline .CommitWait {
    background-color: #02a8b5;
}

.sealing-pipeline .SubmitCommitAggregate {
    background-color: rgb(210, 221, 236);
}

.sealing-pipeline .CommitAggregateWait {
    background-color: rgb(210, 221, 236);
}

.sealing-pipeline .FinalizeSector {
    background-color: #39afd1;
}

.sealing-pipeline .Proving {
    background-color: #2c7be5;
}

.sealing-pipeline .TerminateWait {
    background-color: #fd7e14;
}

.sealing-pipeline .TerminateFailed,
.sealing-pipeline .FailedUnrecoverable,
.sealing-pipeline .AddPieceFailed,
.sealing-pipeline .SealPreCommit1Failed,
.sealing-pipeline .SealPreCommit2Failed,
.sealing-pipeline .PreCommitFailed,
.sealing-pipeline .ComputeProofFailed,
.sealing-pipeline .CommitFailed,
.sealing-pipeline .PackingFailed,
.sealing-pipeline .FinalizeFailed,
.sealing-pipeline .DealsExpired,
.sealing-pipeline .RecoverDealIDs,
.sealing-pipeline .Faulty,
.sealing-pipeline .FaultReported,
.sealing-pipeline .FaultedFinal,
.sealing-pipeline .Terminating,
.sealing-pipeline .TerminateWait,
.sealing-pipeline .TerminateFinality,
.sealing-pipeline .TerminateFailed,
.sealing-pipeline .Removing,
.sealing-pipeline .RemoveFailed {
    background-color: #e63757;
}

.sealing-pipeline .Removed {
    background-color: #444;
}

/* Snap Deals */

.sealing-pipeline .Available {
    background-color: rgb(210, 221, 236);
}
.sealing-pipeline .SnapDealsWaitDeals {
    background-color: #2c7be5;
}
.sealing-pipeline .SnapDealsAddPiece {
    background-color: #6b5eae
}
.sealing-pipeline .SnapDealsPacking {
    background-color: #6b5eae
}
.sealing-pipeline .UpdateReplica {
    background-color: #e63757;
}
.sealing-pipeline .ProveReplicaUpdate {
    background-color: #fd7e14;
}
.sealing-pipeline .SubmitReplicaUpdate {
    background-color: #f6c343;
}
.sealing-pipeline .ReplicaUpdateWait {
    background-color: #00d97e;
}
.sealing-pipeline .FinalizeReplicaUpdate {
    background-color: #02a8b5;
}
.sealing-pipeline .UpdateActivating {
    background-color: #029895;
}
.sealing-pipeline .ReleaseSectorKey {
    background-color: #016855;
}

.sealing-pipeline .SnapDealsAddPieceFailed,
.sealing-pipeline .SnapDealsDealsExpired,
.sealing-pipeline .SnapDealsRecoverDealIDs,
.sealing-pipeline .AbortUpgrade,
.sealing-pipeline .ReplicaUpdateFailed,
.sealing-pipeline .ReleaseSectorKeyFailed,
.sealing-pipeline .FinalizeReplicaUpdateFailed {
    background-color: #e63757;
}
