.sectors-list {
    position: relative;
}

.sectors-list .snapshot-at {
    color: #b3b3b3;
    position: absolute;
    display: inline-block;
    top: -3em;
    left: 0.5em;
}

.sectors-list .snapshot-at .refresh-button {
    display: inline-block;
    text-align: center;
}

.sectors-list .snapshot-at .refresh-button .loading {
    display: inline-block;
    margin-top: 1em;
}

.sectors-list .snapshot-at .refresh-button .loading .dot-flashing {
}

.sectors-list .snapshot-at .refresh-button .button {
    margin-right: 1em;
    background-color: #b3b3b3;
}
.sectors-list .snapshot-at .refresh-button .button:hover {
    background-color: #3399ff;
}

.sectors-list .snapshot-at .description {
    display: inline-block;
    vertical-align: top;
}

.sectors-list table {
    font-size: 1em;
    width: 100%;
}

.sectors-list td, .sectors-list th {
    padding: 0.5em 1em;
    font-weight: normal;
}

.sectors-list th {
    white-space: nowrap;
    text-align: left;
    opacity: 0.6;
}
