.storage-ask td .expiry-time {
    padding-left: 0.5em;
    color: #777777;
}

.storage-ask td.val {
    cursor: pointer;
    line-height: 2em;
}

.storage-ask td.val .edit {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    background: url("./bootstrap-icons/icons/pencil-square.svg");
    opacity: 0.5;
}

.storage-ask td.val:hover .edit {
    opacity: 1;
}

.storage-ask td .human {
    display: inline-block;
    margin-left: 1em;
    color: #999;
}

.storage-ask td.editor {
    line-height: 2em;
}

.storage-ask td.editor input {
    margin: 0;
}

.storage-ask td.editor .button {
    display: inline-block;
    margin: 0;
    padding: 0 0.5em;
    margin-left: 1em;
    cursor: pointer;
}

.storage-ask td.editor .button.cancel {
    margin-left: 0.5em;
    background-color: #777;
}

.libp2p {
    margin-top: 3em;
}