.storage-chart {
    padding: 1em;
}

.staged {
    background-color: #6b5eae;
}

.transferred, .used {
    background-color: rgb(44, 123, 229);
}

.pending {
    background-color: rgb(166, 197, 247);
}

.free {
    background-color: rgb(210, 221, 236);
}

.storage-fields td {
    padding: 0.5em 1em;
    font-weight: normal;
}

.legacy-deal-transfers {
    margin-top: 3em;
}

.aux {
    color:  #999;
}
