.storage-chart {
    padding: 1em 0.25em;
}

.storage-chart .staged {
    background-color: #6b5eae;
}

.storage-chart .transferred, .used {
    background-color: rgb(44, 123, 229);
}

.storage-chart .pending {
    background-color: rgb(166, 197, 247);
}

.storage-chart .free {
    background-color: $progressgrey;
}

.storage-fields {
    margin-top: 1em;
}

.legacy-deal-transfers {
    margin-top: 3em;
}

.aux {
    color:  #999;
}
