.storage-chart {
    padding: 1em;
}

.storage-chart .staged {
    background-color: #6b5eae;
}

.storage-chart .transferred, .used {
    background-color: rgb(44, 123, 229);
}

.storage-chart .pending {
    background-color: rgb(166, 197, 247);
}

.storage-chart .free {
    background-color: rgb(210, 221, 236);
}

.storage-fields td {
    padding: 0.5em 1em;
    font-weight: normal;
}

.legacy-deal-transfers {
    margin-top: 3em;
}

.aux {
    color:  #999;
}
