main {
	padding:$mobileheaderHeight 0 0 0;
	transition: 0.25s ease;
	position:relative;
	left:0;

	@include media-breakpoint-up(md) {
		padding-top:$headerHeight;
	}
	@include media-breakpoint-up(xl) {
		padding-left:$sidebarWidth;
		left:0 !important;
	}
	@include media-breakpoint-up(xxl) {
		padding-left:$fullsidebarWidth;
	}
	@media (min-height: 1000px) {
		padding-top:$fullheaderHeight;
	}
}
.menu-open {
	main {
		@include media-breakpoint-up(md) {
			left:$sidebarWidth;
		}
		@include media-breakpoint-up(lg) {
			left:$fullsidebarWidth;
		}
	}
}
.main-wrapper {
	padding:40px 20px;

	@include media-breakpoint-up(md) {
		padding:50px;
	}
	@include media-breakpoint-up(lg) {
		padding:60px;
	}
}
