h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
	color:$primary;
	margin-bottom: 1em;

	&.no-margin {
		margin-bottom:0;
	}
}
h5 {
	font-size: 1.2em;
	color: #a61e4d;
	font-weight: normal;
}
h6 {
	font-size: 1.2em;
	color: $primary;
	font-weight: normal;
}
